@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
    font-size: 24px;
    overflow: hidden;
}
/* #FA05C3 
    #05C3FA  
    #C3FA05 
    background: linear-gradient(107.7deg, #05C3FA -81.8%, rgba(5, 195, 250, 0.52) 198.6%); send buttonbackground: linear-gradient(267.16deg, rgba(5, 250, 60, 0.14) -22.01%, rgba(255, 255, 255, 0.3) 123.93%, rgba(250, 5, 195, 0.3) 123.94%); display

background: linear-gradient(81.49deg, rgba(195, 250, 5, 0.1) -2.54%, rgba(195, 250, 5, 0.1) 77.89%, rgba(250, 5, 195, 0.5) 107.22%); small display
border: 7px solid #00000080 text pipe
background: #000000; angle left

*/
body {
    font-family: 'Roboto', sans-serif;
    background: #37CFFB;
    display: grid;
    place-content: center;
    min-height: 100vh;
    padding: 1.0417em;
}

/* background image  */
.bgImage{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    transition: 5s;
    animation: fade .8s ease;


}
.bgImage button{
    position: absolute;
    bottom: 7%;
    left: .9%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FA05C3;
    border: none;
    border-radius: 0.426em;
    padding: .417em;
    margin: 0 .9em;
    color: #05C3FA;
    text-shadow: #747474 0.01em 0.01em 0.01em;
    font-weight: 700;
    letter-spacing: 0.1em;
    cursor: pointer;
    /* transition: all 0.3s ease-in-out; */
    animation: jump 2s ease;
}

@keyframes jump{
    0%{
        transform: translateX(-190%);
    }
}

.bgImage button i{
    padding-left: .4em;
    font-size: 1em;
    margin-right: .5em;
}
.bgImage button:hover{
    background: #05C3FA;
    color: #FA05C3;
}

/* progress bar  */
.circleContainer {
    height: 100%;
    width: 100%;
    background-image: url('../images/bgDark.jpg');
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 8px;
    box-shadow: 20px 20px 40px rgba(60, 60, 150, 0.25);
    display: grid;
    place-items: center;
    opacity: 1;
    transition: .5;
  }
.circular-progress {
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: grid;
    place-items: center;
  }
  .circular-progress:before {
    content: "";
    position: absolute;
    height: 84%;
    width: 84%;
    background-color: #ffffff;
    border-radius: 50%;
  }
  .value-container {
    position: relative;
    /* font-family: "Poppins", sans-serif; */
    font-weight: 900;
    color: #231c3d;
  }

/* centered container  */
.container {
    position: relative;
    background: #05C3FA;
    width: 30.83em;
    padding: 1.0417em;
    border-radius: 0.625em;
    box-shadow:
        -0.17em -0.17em 0.4em #e0e0e0b0,
        0.17em 0.17em 0.4em #0002;
}
/* main display  */
.container .mainDisplay {
    position: relative;
    /* display: flex; */
    /* flex-direction: column; */
    background-image: linear-gradient(45deg, rgba(5, 250, 60, 0.14) -22.01%, rgba(255, 255, 255, 0.3) 123.93%, rgba(250, 5, 195, 0.3) 123.94%);
    width: 100%;
    height: 8.208em;
    margin-bottom: 1em;
    border-radius: 0.625em;
    box-shadow:
        inset 0.08em 0.08em 0.21em #0002,
        inset -0.08em -0.08em 0.21em #e0e0e0b0;
    overflow-y: scroll;

}

/* div for the user results */
.container .question{
    /* position: absolute; */
    width: 49%;
    background: #b8ea00;
    border-radius: 0.35em;
    padding: .3em .3em;
    color: #ac0086;
    margin: .5em .5em 0; 

}
.animateJump{
    animation: jump .5s;
}

.container .question:first-child{
    margin-top: 1.4em;
}
/* div for the user results */
.container .userAnswer{
    /* position: absolute; */
    width: 49%;
    background: #ac0086;
    color: #b8ea00;
    border-radius: 0.35em;
    padding: .3em;
    margin: .5em .5em .5em;
    float: right;
    animation: fade .5s;

}

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* input display  */
.container .display{
    position: relative;
    font-size: 18px;
    font-family: inherit;
    color: #ac0086;
    /* align-items: center; */
    height: 3em;
    border-radius: 0.625em;
    padding: 0.75em;
    overflow-y: auto;
    border: 0.08em inset #e0e0e0b0;
    white-space: pre-wrap;
    box-shadow:
        inset 0.08em 0.08em 0.21em #0002,
        inset -0.08em -0.08em 0.21em #e0e0e0b0;
}

.hide{
    display : none;
    opacity: 0;
}


.container .display::before {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(45deg, rgba(5, 250, 60, 0.14) -22.01%, rgba(255, 255, 255, 0.3) 123.93%, rgba(250, 5, 195, 0.3) 123.94%);
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;

}
.container .submitBtn {
    position: absolute;
    display: flex;
    width: 2.5em;
    height: 1.5em;
    right: 5.9%;
    top: 40.6%;
    align-items: center;
    justify-content: center;
    
    background: linear-gradient(107.7deg, #05C3FA -81.8%, rgba(5, 195, 250, 0.52) 198.6%);
    box-shadow: -4px -4px 4px rgba(255, 255, 255, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.25);
    ;
    cursor: pointer;
    border-bottom: 0.05em solid #04b5e6;
    border-top: 0.05em solid #cfcfcfd5;
    border-radius: 10px;

}
.container .submitBtn i{
    transform: rotate(10deg);
    color: #ac0086;
}

.container .submitBtn:hover i{
    color: #C3FA05;

}
.container .submitBtn:hover,
.container .submitBtn:active{
    border-right: 0.05em solid transparent;
    border-left: 0.05em solid transparent;
    border-color: #c8ff00;
    color: #C3FA05;

}
.container .key {
    margin-top: 0.83em;
    text-transform: lowercase;
    user-select: none;
}

.container .key .row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.83em;;
    gap: 0.83em; 
}

.container .key .row span {
    width: 2.08em;
    height: 2.08em;
    display: grid;
    color: #ac0086 ;
    background-color: #05C3FA;
    place-content: center;
    border-radius: 0.3em;
    box-shadow:
        0.125em 0.125em 0.25em #0002,
        -0.125em -0.125em 0.25em #e0e0e0b0;
    cursor: pointer;
    border-bottom: 0.05em solid #04b5e6;
    border-top: 0.05em solid #cfcfcfd5;
    transition: 0.3s;
}

.container .key .row span.caps,
.container .key .row span.backspace {
    width: calc(2.03em * 1.6);
    display: flex;
    gap: 5px;
    align-items: center;
}

.container .key .row span.space {
    width: calc(2.03em * 9.4);
}

.container .key .row span.active,
.container .key .row span:hover
 {
    border-right: 0.05em solid transparent;
    border-left: 0.05em solid transparent;
    border-color: #c8ff00;
    color: #C3FA05;
}


.container .key .row span.active,
.container .key .row span:active ,
.container .submitBtn:active{
    box-shadow:
        inset 3px 3px 6px #0002,
        inset -3px -3px 6px #e0e0e0b0;
}

.container .key.uppercase {
    text-transform: capitalize;
}